div
  form(action="/book/post" method="POST")
    div
      p(style="margin-bottom: 5px") Title:
      input(type="text" name="title")
    div
      p(style="margin-bottom: 5px") Description:
      input(type="text" name="description")
    div(style="margin-top: 16px")
      button Thêm